[package]
name = "flux-protocol"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
serde.workspace = true
bincode.workspace = true
flux-core.workspace = true
